<form [formGroup]="form">
  <div>
    Title:
    <input formControlName="title" type="text">
    <div *ngIf="form.get('title')?.hasError('required')" class="error">
      Required
    </div>
  </div>

  <div>
    Year:
    <input formControlName="releaseYear" type="number">
    <div *ngIf="form.get('releaseYear')?.hasError('required')" class="error">
      Required
    </div>
    <br>
  </div>

  <div>
    Rating:
    <cvae-start-rating
      [numberOfStars]="numberOfStars"
      (ratingChange)="onRatingChange($event)"
    ></cvae-start-rating>
    <div *ngIf="form.get('rating')?.hasError('required')" class="error">
      Required
    </div>
    <div *ngIf="form.get('rating')?.errors?.min as minError" class="error">
      Minimum rating is {{ minError.min }} stars
    </div>
  </div>
  <br>

  <button>Submit</button>

  <div>
    Valid: {{ form.valid }}
  </div>

  <div>
    Value:
    <pre>{{ form.value | json }}</pre>
  </div>
</form>
